header {
  text-align: center;
  padding: 20px;
  color: white;
}

i {
  margin-top: 10px;
}

.saveBtn {
  background-color: #457dd1;
  color: white;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.card-text {
  margin-bottom: 10px;
}

.cityButton {
  background-color: white;
}

.prevCities {
  margin-bottom: 10px;
}
.forecastCard {
  background-color: rgb(29, 103, 240);
  color: white;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-width: 1px;
  border-radius: 5px;
}

#fiveDayForecast { 
  margin-left: 0px;
  padding-left: 0px;

}

.fiveDay {
  margin: 0px 0px 15px 0px;
}

.dayHeader {
  font-size: 15px;
  padding-top: 5px;
}

.cardImg {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  font-size: 12px;
}
#uvi {
  padding: 5px;
  border-radius: 5px;
}

#cityToSearch {
  margin-bottom: 10px;
}

#search {
  float: left;
  width: 400px;
}
#weather {
  width: 60%;
  float: right;
  background-color: white;
}

#cityToSearch {
  margin-left: 15px;
}

#uvi {
  color: white;
}

#currentCityWeather {
  margin-bottom: 15px;
}